<form method="post" action="{{ path('app_pack_line_delete', {'id': pack_line.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pack_line.id) }}">
    <button class="btn">Delete</button>
</form>
