{% extends 'base.html.twig' %}

{% block title %}New PackLine{% endblock %}

{% block body %}
    <h1>Create new PackLine</h1>

    {{ include('pack_line/_form.html.twig') }}

    <a href="{{ path('app_pack_line_index') }}">back to list</a>
{% endblock %}
